

<div class="well well-sm">
  <i>Previously viewed...</i><br>

  <% x = session[:history].clone.map(&:clone) %>

   <% for i in  x  do %>

     <%#  i.sub!("http://localhost:3000/products/", "") %>
     
     <%  i.sub!("www.groupmerch.ca", "" ) %>
       <a href= <%= Product.find_by_title(i) %> >  <%= Product.find_by_title(i) %>   
     </a>

    <% end %>
</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
