<% if @photo.size > 0 %>


    <% @photo.each do | p| %>



<a href = "<%= p.file&.service_url %>"  >
   <%= image_tag p.file&.service_url, width: "150", height: "150", align: "top" %>
</a>

<% end %>


<% end %>
